Package: sbuild-qemu
Source: sbuild
Version: 0.88.2
Architecture: all
Maintainer: sbuild maintainers <sbuild@packages.debian.org>
Installed-Size: 81
Depends: autopkgtest (>= 5.17~), python3-pexpect, python3-psutil, qemu-system-x86, qemu-utils, sbuild, vmdb2 (>= 0.22), python3:any
Recommends: qemu-system-arm, qemu-system-ppc
Breaks: qemu-sbuild-utils (<< 0.2.1~)
Replaces: qemu-sbuild-utils (<< 0.2.1~)
Section: devel
Priority: optional
Description: Utilities for using sbuild with QEMU images
 These utilities facilitate the use of sbuild together with QEMU images using
 sbuild's  --chroot-mode=autopkgtest. Currently, amd64 and i386 guest
 architectures are supported, with more in the works.
 .
 The following utilities are provided:
 .
   * sbuild-qemu-create  Create an image suitable for building packages
   * sbuild-qemu-update  Run apt-get update within the image
   * sbuild-qemu         Use sbuild with the image to build a package
